* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #f1c40f;
    --corSecundaria: #111;
}

.inputUsuario {
    background-color: #a5870e;
    color: var(--corSecundaria);
    padding: 16px;
}
.inputUsuario label, input {
    margin-right: 8px;
    color: #ffff;
    padding: 4px;
    border-radius: 10px;
    
}